.headerFont {
  font-family: 'Rubik', sans-serif;
}
.background-grid {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(rgba(41, 37, 36, 0.5) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(41, 37, 36, 0.5) 0.1em, transparent 0.1em);
  background-size: 10dvw 10dvw;
}
.image-gradient {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 20%, rgba(12, 10, 9, 0) 85%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 20%, rgba(12, 10, 9, 0) 85%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 20%, rgba(12, 10, 9, 0) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0c0a09",GradientType=1);
}
.center-line {
  background: linear-gradient(to right, transparent 0%, transparent calc(100% - 0.81px), black calc(50% - 0.8px), black calc(50% + 0.8px), transparent calc(100% + 0.81px), transparent 100%);
}
